<!--List<TweetDto> interestingTweets-->

<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link th:href="@{/style.css}" rel="stylesheet"/>
<body>
<div th:insert="menu"></div>
<div class="tweets-wrapper">
    <div style="font-size: 40px; color: blue">
        Found tweets with hashtag:
    </div>
    <div class="tweets-table">
        <div th:each="tweet : ${interestingTweets}">
            <div>
                <img th:src="${tweet.profileImageUrl}"/>
                <td th:text="${tweet.fromUser}"/>
            </div>
            <div>
                <td th:text="${tweet.createdAt}"/>
            </div>
            <div>
                <td th:text="${tweet.text}"/>
            </div>
            </tr>
        </div>
    </div>
</div>
</body>
</html>