<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<div class="menu">
    <ul>
        <li><a class="menu-info" href="/info">Home</a></li>
        <li><a class="menu-interest" href="/interest">Interest</a></li>
        <li><a class="menu-news" href="/news">News</a></li>
        <li>
            <form class="menu-logout" id="logoutForm" action="#" th:action="@{/logout}" method="post">
                <a href="javascript:" onclick="document.getElementById('logoutForm').submit();">Logout</a>
            </form>
        </li>
    </ul>
</div>
</html>