<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<link th:href="@{/style.css}" rel="stylesheet"/>

<!--snippet for loading twitter stuff from developer.twitter-->
<script>window.twttr = (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0], t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
    t._e = [];
    t.ready = function (f) {
        t._e.push(f);
    };
    return t;
}(document, "script", "twitter-wjs"));
</script>

<body>
<div th:insert="menu"></div>
<form action="#" th:action="@{/news}" method="get">
    <input class="news-number-click" type="submit" value="news to show number: ">
    <input class="news-number" type="number" name="newsNumber" th:value="${newsNumber}">
</form>
<div class="interest-news-wrapper">
    <table th:each="interestNews : ${interestsNewsMap}">
        <tr th:with="interest=${interestNews.key}">
            <h1 th:text="${interest.name}"/>
            <form action="#" th:action="@{/interest/updateFrequency}" method="get">
                <input type="submit" value="update every:">
                <input type="number" name="duration" th:value="${interest.updateFrequency.getDuration()}">
                <select name="unit">
                    <option th:each="name : ${timeUnitNames}"
                            th:value="${name}"
                            th:text="${name}"
                            th:selected="${name.equals(interest.updateFrequency.unit.name())}"/>
                </select>
                <input type="hidden" name="interestId" th:value="${interest.intId}">
            </form>
        </tr>
        <tr>
            <table th:each="news : ${interestNews.value}">
                <tr>
                    <h2 th:text="${news.title}"/>
                    <a th:href="${news.url}">
                        <img class="news-image"
                             th:src="${news.urlToImage != null} ? ${news.urlToImage} : @{no-image-available.png}"
                             width="800" height="200"/>
                    </a>
                    <p th:text="${news.description}"/>
                    <a class="twitter-share-button"
                       href="https://twitter.com/intent/tweet"
                       th:data-text="${news.title}"
                       th:data-url="${news.url}">Tweet</a>
                </tr>
            </table>
            <hr>
        </tr>
    </table>
</div>
</body>
</html>